.center {
    margin: auto;
}

h2 {
    text-align: center;
    margin: 20px auto 40px;
}

#izberiOsebo {
    width: 20%;
    margin: 30px auto 0px;
}

#izbranaOsebaEHR {
    width: 30%;
    margin: 20px auto 0px;
}

.obdobje {
    width: 100px;
    margin: 0 10px;
}

.obdobjeBesedilo {
    padding: 8px 0;
}

.obdobjeButton {
    margin: 7px 2px;
}

.sporocilo span, .obdobjeButton {
    display: block;
    float: left;
}

.zgoraj {
    text-align: center;
    font-size: 2em;
    background-color: #CCC;
    padding: 10px;
    border-radius: 10px;
    margin: 0 15px;
}

.polovica {
    background-color: #CCC;
    border-radius: 10px;
    padding: 10px 0;
    margin: 20px auto 10px;
}

#vsebina {
    text-align: center;
}

#izberiOseboDrugo {
    visibility: hidden;
    height: 0;
}

.sporocilo {
    color: #555;
    padding: 0 20px;
}

#izpisEHRID {
    color: #555;
    font-size: 0.5em;
}

.krepko {
    font-weight: bold;
}

#podatkiDesno {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #555;
}

/* CHART */

graf text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

#graf {
    min-width: 50px;
}

.bar:hover {
    fill: black !important;
}