#celotna-stran {
    border: 2px solid red;
}

.center {
    margin: auto;
}

h2 {
    text-align: center;
}

#izberiOsebo {
    width: 20%;
    margin: 30px auto 0px;
}

#izbranaOsebaEHR {
    width: 30%;
    margin: 20px auto 0px;
}

.obdobje {
    width: 100px;
    margin: 0 10px;
}

.obdobjeBesedilo {
    padding: 8px 0;
}

.obdobjeButton {
    margin: 7px 2px;
}

.sporocilo span, .obdobjeButton {
    display: block;
    float: left;
}

.zgoraj {
    border: 1px solid blue;
    text-align: center;
    font-size: 2em;
}

#vsebina {
    text-align: center;
}

#izberiOseboDrugo {
    visibility: hidden;
    height: 0;
}

.sporocilo {
    /*font-size: 0.8em;*/
    color: #888;
    border: 1px solid orange;
}

.polovica {
    border: 1px solid green;
}

.krepko {
    font-weight: bold;
}

/* CHART */

graf rect {
  fill: steelblue;
}

graf text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

#graf {
    min-width: 50px;
}

.bar:hover {
    fill: red;
}